$theme: dark; //light|dark //bonus

$DarkMainColor: #6e00be;
$LightMainColor: #48007c;

$DarkSubtitle: #ccc;
$LightSubtitle: #5e5e5e;

$DarkMainText: #fff;
$LightMainText: #000;

$DarkSecondaryText: #aeaeae;
$LightSecondaryText: #464646;

$buttonText: #000;

$DarkHover: #6e00be ;
$LightHover: #48007c;

$DarkBg: #06010a;
$LightBg: #eee;

$shadow: #06010a;

// $Dark: ;
// $Light: ;

// $Dark: ;
// $Light: ;

$ff: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


