@import "var";

div.container {
    margin: 1% 20%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.main-row {
    box-shadow: 0px 0px 10px 10px $DarkMainColor inset;
    /* background-image: linear-gradient(45deg,
            hsl(275deg 100% 5%) 0%,
            hsl(272deg 82% 9%) 17%,
            hsl(270deg 83% 12%) 31%,
            hsl(275deg 100% 15%) 42%,
            hsl(275deg 100% 16%) 48%,
            hsl(275deg 100% 17%) 51%,
            hsl(275deg 100% 19%) 51%,
            hsl(275deg 100% 17%) 51%,
            hsl(275deg 100% 16%) 54%,
            hsl(275deg 100% 15%) 60%,
            hsl(270deg 83% 12%) 71%,
            hsl(272deg 82% 9%) 84%,
            hsl(275deg 100% 5%) 100%); */
}

div.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 12px;
}

div.col {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 15px;
}

/*form*/
.form {
    margin: 0;
    padding: 20px;
}

fieldset {
    border: none;
    margin: 0 0 30px 0;
    padding: 0;
}

legend {
    text-align: right;
    font-variant: small-caps;
    font-size: 1.7em;
    @if $theme==dark {

        color: $DarkMainColor;
    }
    @else {
        color: $LightMainColor;
    }
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
    padding: 0 0 0 3px;
    color: #aaa;
}

label.checkbox,
label.radio {
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
input[type="radio"] select {
    width: 100%;
    padding: 5px 10px;
    margin: 3px 0 15px 0;
    display: inline-block;
    background-color: $DarkMainText;
    border: 3px solid $DarkMainColor;
    border-radius: 12px;
    box-sizing: border-box;
    outline: none;
    font-size: 1.1em;
}

textarea {
    min-height: 100px;
    width: 100%;
    background-color: $DarkMainText;
    border: 3px solid $DarkMainColor;
    border-radius: 12px;
    padding: 5px;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="date"]:hover,
textarea:hover {
    color: rgb(0, 0, 0);
    background-color: #ad84c4b7;
}

div.buttons {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 2%;
}

.buttons button {
    @if $theme==dark {

        background-color: $DarkMainColor;
    }
    @else {
        background-color: $LightMainColor;
    }
    background-color: #6e00be;
    filter: drop-shadow(0px 0px 4px $DarkMainColor);
    border-radius: 12px;
    @if $theme==dark {

        color: $DarkMainText;
    }
    @else {
        color: $LightMainText;
    }
    width: 200px;
    padding: 5px;
    margin: 2%;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


.buttons button:hover {
    background-color: #6f00be00;
    background-image: linear-gradient(45deg,
            hsl(275deg 100% 17%) 0%,
            hsl(275deg 100% 19%) 11%,
            hsl(275deg 100% 21%) 22%,
            hsl(275deg 100% 23%) 33%,
            hsl(275deg 100% 25%) 44%,
            hsl(275deg 100% 28%) 56%,
            hsl(275deg 100% 30%) 67%,
            hsl(275deg 100% 32%) 78%,
            hsl(275deg 100% 35%) 89%,
            hsl(275deg 100% 37%) 100%);
            @if $theme==dark {

                color: $LightMainText;
            }
            @else {
                color: $DarkMainText;
            }
    transition: 0.5s;
}

.btn:hover a {
    @if $theme==dark {

        color: $DarkMainText;
    }
    @else {
        color: $LightMainText;
    }
    transition: 0.3s;
    transform: translate(1px, 1px);
}


@media screen and (max-width: 1024px) {
    .conteiner {
        margin-left: 10%;
    }
}

@media screen and (max-width: 768px) {

    .container {
        margin: 0;
    }

    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
    }

    .main-row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
    }
}

@media screen and (max-width: 733px) {
    nav {
        flex-flow: column wrap;
    }

    .links {
        margin-top: 2%;
    }

    .nav-button {
        padding: 0;
    }

    .nav button {
        display: none;
    }

}

@media screen and (max-width: 510px) {
    nav {
        margin-bottom: 10%;
    }

    .col,
    .row {
        margin: 0;
        max-width: 80%;
        margin-left: 10%;
    }

    .col+.col2 {
        margin: 0;
        margin-left: 10%;
        padding: 0;
    }

    .col+.col2 .row {
        margin-left: 3%;
        width: 250px;
    }

    .col+.col2 input {
        width: 236px;
    }

    .buttons {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 320px) {

    .col,
    .row {
        margin-left: 15%;
    }

    .buttons {
        margin-left: 20%;
    }
}